{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block body %}

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between logo-register-container">
        <a href="{{ path('homepage_') }}" class="logo d-flex align-items-center">
            <img class="logo-register-page" src="{{ asset('second_ver_assets/assets/img/logolh.png') }}" alt=""/>
        </a>
    </div>

    {{ form_start(registrationForm, { 'attr': {'class': 'registration-form'} }) }}
    <h1>Register</h1>
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
