{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"/>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <style>
        #scroll-top-button {
            border-radius: 20px;
            background-color: white;
            position: fixed;
            bottom: 15px;
            right: 15px;
            font-size: 1.3rem;
            cursor: pointer;
        }

        #scroll-top-button:hover {
            background-color: #d9d9d9;
        }

        * {
            box-sizing: border-box;
        }

        .admin-main-container {
            display: flex;
            flex-direction: row;
        }

        .admin-side-panel-container {
            display: flex;
            flex-basis: 20%;
            justify-content: center;
            align-items: flex-start;
        }

        .admin-side-panel-sub-container {
            padding: 1rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            margin: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
        }

        .admin-side-panel-sub-container:hover {
            box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
            transition: .1s ease-in-out;
        }

        .admin-side-panel-sub-container > img {
            max-width: 100%;
            padding: 1rem;
            border-bottom: 1px solid #364C64;
        }

        .admin-side-panel-sub-container > a {
            margin: .3rem;
            padding: .5rem;
        }

        .admin-content-container {
            flex-basis: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .admin-full-container {
            padding: 1rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            width: 100%;
            margin: 2rem 2rem 2rem 0;
        }

        .admin-full-container > h3 {
            text-align: center;
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        .statistiques-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
        }

        .editing-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
        }

        .events-sub-edition, .news-sub-edition, .clubs-sub-edition {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            width: 25%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding: 1rem;
        }

        .events-sub-edition > h5 {
            background-color: #2188381f;
            padding: 1rem;
            width: 100%;
            text-align: center;
        }

        .news-sub-edition > h5 {
            background-color: #2188381f;
            padding: 1rem;
            width: 100%;
            text-align: center;
        }

        .clubs-sub-edition > h5  {
            background-color: #2188381f;
            padding: 1rem;
            width: 100%;
            text-align: center;
        }

        .users-sub-edition {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            width: 25%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding: 1rem;
        }

        .users-sub-edition > h5 {
            background-color: #2188381f;
            padding: 1rem;
            width: 100%;
            text-align: center;
        }

        .container-list-of-events, .container-list-of-news, .container-list-of-clubs, .container-list-of-users {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 1rem;
            width: 100%;
        }

        .container-list-of-events > a {
            margin-left: 1rem;
        }

        .container-list-of-news > a {
            margin-left: 1rem;
        }

        .container-list-of-clubs > a {
            margin-left: 1rem;
        }

        .container-list-of-events > div  {
            margin-right: auto;
        }

        .container-list-of-news > div {
            margin-right: auto;
        }

        .container-list-of-clubs > div {
            margin-right: auto;
        }

        @media screen and (max-width: 971px) {
            .admin-main-container {
                display: flex;
                flex-direction: column;
            }

            .admin-side-panel-sub-container {
                width: 40%;
            }

            .admin-full-container {
                padding: 1rem;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                width: 80%;
                margin: 2rem 2rem 2rem 2rem;
            }

            .editing-container {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: flex-start;
                width: 100%;
                margin: 0 auto;
            }

            .events-sub-edition, .projects-sub-edition, .clubs-sub-edition {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                padding: 1rem;
            }
        }

        @media all and (min-width: 0px) and (max-width: 970px) {
            .admin-side-panel-sub-container {
                width: 80%;
            }
        }

    </style>
{% endblock %}

{% block body %}
    <div class="admin-main-container">
        <div class="admin-side-panel-container">
            <div class="admin-side-panel-sub-container">
                {% include 'admin/components/leftpane.html.twig' %}
            </div>
        </div>
        <div class="admin-content-container">
            <div class="admin-full-container">
                <h3>Statistiques</h3>
                <div class="statistiques-container">
                    <div>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="admin-full-container">
                <h3>Édition</h3>
                <div class="editing-container">
                    <div class="news-sub-edition">
                        <h5>Projects</h5>
                        {% for news in onlineNews %}
                            <div class="container-list-of-news">
                                <div>{{ news.title }}</div>
                                <a href="{{ path('edit_news', { id: news.id}) }}"><i class="bi bi-pencil-square"></i></a>
                                <a onclick="return confirm('Are you sure to delete?')" style="color: red;" href="{{ path('delete_news', { id: news.id}) }}"><i class="bi bi-x-square"></i></a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="clubs-sub-edition">
                        <h5>Clubs</h5>
                        {% for onlineClub in onlineClubs %}
                            <div class="container-list-of-clubs">
                                <div>{{ onlineClub.name }}</div>
                                <a href="{{ path('edit_club', { id: onlineClub.id}) }}"><i class="bi bi-pencil-square"></i></a>
                                <a onclick="return confirm('Are you sure to delete?')" style="color: red;" href="{{ path('delete_club', { id: onlineClub.id}) }}"><i class="bi bi-x-square"></i></a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="users-sub-edition">
                        <h5>Users</h5>
                        {% for responsible in responsibles %}
                            <div class="container-list-of-clubs">
                                <div>{{ responsible.name }}</div>
                                <a href="{{ path('edit_responsibles', { id: responsible.id}) }}"><i class="bi bi-pencil-square"></i></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <button onclick="topFunction()" id="scroll-top-button" title="Go to top"><i class="bi bi-arrow-up"></i></button>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
    mybutton = document.getElementById("scroll-top-button");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }



    </script>
    <script>
    let newssC = '{{ countNews }}';
    let clubsC = '{{ countClubs }}';

    const labels = [
        'News',
        'Clubs',
    ];
    const data = {
      labels: [
        'News',
        'Clubs'
      ],
      datasets: [{
        label: 'Lh Statistics',
        data: [newssC, clubsC],
        backgroundColor: [
          '#28A745',
          '#17A2B8'
        ],
        hoverOffset: 4
      }]
    };

    const config = {
        type: 'doughnut',
        data: data,
        options: {}
    };

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );

    </script>
{% endblock %}
