{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"/>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <style>
        body {
            padding: 0;
            margin: 0;
            font-family: "Nunito", sans-serif;
            width: 100vw;
            height: 100vh;
        }

        .fill {
            height: 25%;
        }

        .pane-left {
            background: rgb(117, 139, 127);
            background: linear-gradient(0deg, rgba(117, 139, 127, 0) 20%, rgba(117, 119, 139,
            0.04523816362482491) 80%);
            border-right: 1px solid #efefef;
            box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.5);
        }

        .pane-right {
            padding-left: 2rem;
            padding-top: 1rem;
        }

        .user-dashboard-logo {
            max-width: 100%;
            height: 35px;
            object-fit: cover;
        }

        .user-dashboard-logo-container {
            margin: 1rem 0;
        }

        .user-dashboard-logo {
            max-width: 100%;
            height: 35px;
            object-fit: cover;
        }

        .container-edition {
            width: 90%;
            margin: 0 auto;
        }

        /*Nav*/
        .user-dashboard-nav {
            margin-top: 2rem;
        }

        .url-user-dashboard {
            padding-left: 0px;
            margin-left: 1rem;
        }

        .url-user-dashboard > li {
            list-style: none;
            margin: 1rem 0;
        }

        .url-user-dashboard > li > a {
            font-size: 1.4rem;
        }

        .url-user-dashboard > li > a > svg {
            margin-right: 1rem;
        }

        .url-user-dashboard > li > a:hover {
            text-decoration: none;
        }

        /*Connected as*/
        .connected-as-user {
            padding: 1rem;
        }

        .connected-as-user-logout {
            margin-left: 1rem;
            font-size: 0.9rem;
            margin-top: 1rem;
            position: absolute;
            bottom: 18px;
            left: 46px;
        }

        .username-user-dashboard {
            color: #51B868;
        }

        .new-project-link {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 180px;
        }

        .icon-spec {
            position: relative;
            top: 3px;
        }

        {# Content #}
        .up-subpane-left-dashboard {
            height: fit-content;
        }

        .up-subpane-right-dashboard {
            height: fit-content;
        }

        .subpane-left-dashboard {
            height: fit-content;
            background-color: #eefcf0;
        }

        .subpane-right-dashboard {
            height: fit-content;
            background-color: #eef9fc;
        }

        .ongoing-stat .done-stats {
            display: flex;
            justify-content: center;
            flex-direction: row;
        }

        .statistics {
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row fill" style="margin: 0">
            <div class="pane-left col-2" style="height: 100vh">
                {% include 'admin/components/leftpane.html.twig' %}
            </div>
            <div class="pane-right col-10">
                <h2>Editer le projet : {{ project.title }}</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary">Editer</button>
                <a class="btn btn-danger" href="{{ path('admin_dashboard') }}">Retour</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
