{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"/>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <style>
        #scroll-top-button {
            border-radius: 20px;
            background-color: white;
            position: fixed;
            bottom: 15px;
            right: 15px;
            font-size: 1.3rem;
            cursor: pointer;
        }

        #scroll-top-button:hover {
            background-color: #d9d9d9;
        }

        * {
            box-sizing: border-box;
        }

        html, body {
            padding: 0;
            margin: 0;
            min-height: 100vh;
        }

        /*main layout*/
        .admin-main-container {
            display: flex;
            height: 100vh;
        }

        .user-dashboard-logo {
            max-width: 100%;
            height: 35px;
            object-fit: cover;
        }

        .admin-side-panel-container {
            flex-basis: 20%;
            height: 100%;
            /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
        }

        .admin-content-container {
            flex-basis: 80%;
            height: 100%;

            display: flex;
            flex-direction: row;
        }

        /*left panel layout*/
        .admin-side-panel-sub-container {
            height: 100%;
        }

        .admin-side-panel-logo {
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .admin-side-panel-menu {
            height: 90%;
            padding-top: 1rem;
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }

        .admin-side-panel-menu-account {
            display: flex;
            flex-direction: column;

            list-style: none;
            padding: 0;
        }

        .admin-side-panel-menu-account > a {
            margin: .5rem;
        }

        .admin-side-panel-menu-account > a > li {
            margin: .5rem;
        }

        .admin-content-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 70%;
            margin: 0 auto;
        }

        .admin-content-container-users-cards {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            height: 30%;
            margin: 5rem 0 0 0;
            flex-wrap: wrap;
        }

        .admin-content-container-users-cards > .card {
            margin: .5rem;
        }

        .specific-centering-user-connected {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /*media queries*/
        @media only screen and (min-device-width: 1025px ) and (max-device-width: 1281px) {
            .admin-main-container {
                display: block;
            }

            .admin-side-panel-menu {
                width: 25%;
            }

            .admin-side-panel-container {
                height: auto;
            }

            .admin-side-panel-logo {
                margin-top: 1rem;
            }
        }

        @media only screen and (max-device-width: 1026px) {
            .admin-main-container {
                display: block;
            }

            .admin-side-panel-menu {
                width: 100%;
            }

            .admin-side-panel-container {
                height: auto;
            }

            .admin-side-panel-logo {
                margin-top: 1rem;
            }

            .admin-content-container {
                display: block;
            }

            .online-project-description, .online-project-creation-time {
                display: none;
            }

            .admin-content-container-stats {
                display: block;
                text-align: center;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="admin-main-container">
        <div class="admin-side-panel-container">
            <div class="admin-side-panel-sub-container">
                {% include 'admin/components/leftpane.html.twig' %}
            </div>
        </div>
        <div class="admin-content-container">
            <h3 style="margin-top: 2rem; text-align: center; border-radius: 5px;" class="bg bg-light">Utilisateurs et rôles</h3>
            <div class="admin-content-container-users-cards">
                {% for user in users %}
                    <div class="card" style="width: 18rem; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ user.username }}</h5>
                            <p class="card-text">{{ user.roles[0] }}</p>
                            <a href="{{ path('edit_user', {id: user.id}) }}" class="btn btn-primary">Editer</a>
                            <a href="#" class="btn btn-danger">Supprimer</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <h3 style="margin-top: 2rem; text-align: center; border-radius: 5px;" class="bg bg-light">Affichage utilisateurs</h3>
            <div class="admin-content-container-users-cards">
                {% for responsible in responsibles %}
                    <div class="card" style="width: 18rem; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ responsible.name }}</h5>
                            <p class="card-text">{{ responsible.description }}</p>
                            <a href="#" class="btn btn-primary">Editer</a>
                            <a href="#" class="btn btn-danger">Supprimer</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <button onclick="topFunction()" id="scroll-top-button" title="Go to top"><i class="bi bi-arrow-up"></i></button>


    <script>
    mybutton = document.getElementById("scroll-top-button");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

    </script>
{% endblock %}
