<div class="admin-side-panel-logo">
  <img class="user-dashboard-logo"
       src="{{ asset('second_ver_assets/assets/img/logolh.png') }}"
       alt=""/>
</div>
<div class="admin-side-panel-menu">
  <ul class="admin-side-panel-menu-account">
    <a href="{{ path('new_project') }}" class="btn btn-success">
      Nouveau projet
    </a>
    <a href="{{ path('new_event') }}" class="btn btn-success">
      Nouvel événément
    </a>

    <a class="btn btn-primary" href="{{ path('admin_dashboard') }}">
      <li>Menu administration</li>
    </a>
    <a class="btn btn-primary" href="#">
      <li>Mon compte</li>
    </a>
    <a class="btn btn-primary" href="{{ path('homepage') }}">
      <li>Retour sur le site</li>
    </a>
    <a class="btn btn-danger" href="{{ path('logout') }}">
      <li>Déconnexion</li>
      <li>( {{ username }} )</li>
    </a>
  </ul>
</div>