<img src="{{ asset('second_ver_assets/assets/img/logolh.png') }}" alt="">
<div class="text-center mt-2 mb-2">Admin Space</div>
<a class="btn btn-success" href="{{ path('new_project') }}">Nouveau projet</a>
<a class="btn btn-success" href="{{ path('new_club') }}">Nouveau club</a>
<a class="btn btn-primary" href="{{ path('admin_dashboard') }}">Administration</a>
<a class="btn btn-primary" href="{{ path('homepageredirection') }}">Retour sur le site</a>
<a class="btn btn-danger" href="{{ path('logout') }}">Déconnexion</a>