{% extends 'base.html.twig' %}

{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between logo-register-container">
        <a href="{{ path('homepage_') }}" class="logo d-flex align-items-center">
            <img class="logo-register-page" src="{{ asset('second_ver_assets/assets/img/logolh.png') }}" alt=""/>
        </a>
    </div>

    <div class="registration-form">
        <h4 class="m-4 text-center">Se connecter</h4>
        <form action="{{ path('login') }}" method="post">
            <label class="form-label" for="username">Email:</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>

            <label class="form-label" for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="_password"/>

            <button type="submit" class="btn btn-primary mt-2">login</button>
        </form>
    </div>
{% endblock %}