<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>{% block title %}LH Connections{% endblock %}</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    {% block stylesheets %}
        {# Favicons #}
        <link href="{{ asset('second_ver_assets/assets/img/favilh.png') }}" rel="icon"/>
        <link href="{{ asset('second_ver_assets/assets/img/favilh.png') }}" rel="apple-touch-icon"/>

        {# Google Fonts #}
        <link
                href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
                rel="stylesheet"
        />

        <!-- Vendor CSS Files -->
        <link href="{{ asset('second_ver_assets/assets/vendor/aos/aos.css') }}" rel="stylesheet"/>
        <link
                href="{{ asset('second_ver_assets/assets/vendor/bootstrap/css/bootstrap.min.css') }}"
                rel="stylesheet"
        />

        <link
                href="{{ asset('second_ver_assets/assets/vendor/bootstrap-icons/bootstrap-icons.css') }}"
                rel="stylesheet"
        />

        <link
                href="{{ asset('second_ver_assets/assets/vendor/glightbox/css/glightbox.min.css') }}"
                rel="stylesheet"
        />
        <link href="{{ asset('second_ver_assets/assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet"/>
        <link href="{{ asset('second_ver_assets/assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet"/>

        <!-- Template Main CSS File -->
        <link href="{{ asset('second_ver_assets/assets/css/style.css') }}" rel="stylesheet"/>

    {% endblock %}
</head>

{% block body %}
    <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div
                class="container-fluid container-xl d-flex align-items-center justify-content-between"
        >
            <a href="{{ path('homepage') }}" class="logo d-flex align-items-center">
                <img src="{{ asset('second_ver_assets/assets/img/logolh.png') }}" alt=""/>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li>
                        <a class="nav-link scrollto active" href="#hero">{{ 'lhconnection.homepage.title' | trans }}</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto" href="#services">{{ 'lhconnection.homepage.event' | trans }}</a>
                    </li>
                    <li><a class="nav-link scrollto" href="#portfolio">{{ 'lhconnection.homepage.project' | trans }}</a>
                    </li>
                    <li><a class="nav-link scrollto" href="#team">{{ 'lhconnection.homepage.team' | trans }}</a></li>
                    <li><a class="nav-link scrollto" href="#contact">{{ 'lhconnection.homepage.contact' | trans }}</a>
                    </li>
                    <li><a id="adhesion-btn" class="nav-link scrollto text-success"
                           href="#membership">{{ 'lhconnection.homepage.membership' | trans }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                        ><span>{{ 'lhconnection.homepage.resources' | trans }}</span> <i class="bi bi-chevron-down"></i
                            ></a>
                        <ul>
                            <li><a href="https://www.facebook.com/labellevieinnormandy">La belle vie in Normandy</a>
                            </li>
                            <li class="dropdown">
                                {# <a href="#" #}
                                {# ><span>Guides de nos locaux</span> #}
                                {# <i class="bi bi-chevron-right"></i #}
                                {# ></a> #}
                                {# <ul> #}
                                {# <li><a href="#">Un guide</a></li> #}
                                {# <li><a href="#">Un autre guide</a></li> #}
                                {# </ul> #}
                            </li>
                            <li><a href="https://www.instagram.com/kvscope/">Instagram KvScope</a></li>
                            <li><a href="https://www.facebook.com/groups/2162504153831577">Le Havre English Speakers</a>
                            </li>
                            <li><a class="nav-link scrollto"
                                   href="{{ path('login') }}">{{ 'lhconnection.homepage.login' | trans }}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-list-language">
                        <a href="#"
                        ><span>{{ locale }}</span><i class="bi bi-chevron-down"></i
                            ></a>
                        <ul class="language-ul-home">
                            {% set current_path = app.request.get('_route') %}
                            <a href="{{ path(current_path, {'_locale': 'fr'}) }}">Français</a>
                            <a href="{{ path(current_path, {'_locale': 'en'}) }}">English</a>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-language-home-mobile">
                        <a href="#"
                        ><span>{{ locale }}</span><i class="bi bi-chevron-down"></i
                            ></a>
                        <ul class="language-ul-home-mobile">
                            {% set current_path = app.request.get('_route') %}
                            <a href="{{ path(current_path, {'_locale': 'fr'}) }}">Français</a>
                            <a href="{{ path(current_path, {'_locale': 'en'}) }}">English</a>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->
        </div>
    </header>
    <!-- End Header -->

    <div style="margin-top: 6rem; text-align: center">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <!-- ======= Hero Section ======= -->

    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row specific-genially">
                <div class="banner-genially">Bannière Genially</div>
            </div>
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">{{ 'lhconnection.hero.title' | trans }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                             class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                        {{ 'lhconnection.hero.second-title' | trans }}
                    </h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">
                        <p class="text-intro">{{ 'lhconnection.hero.first' | trans }}
                            : {{ 'lhconnection.hero.second' | trans }}
                            <br>
                            <br>{{ 'lhconnection.hero.third' | trans }}
                        </p></h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a
                                    href="#about"
                                    class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
                            >
                                <span>{{ 'lhconnection.hero.title-link' | trans }}</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div
                        class="col-lg-6 hero-img"
                        data-aos="zoom-out"
                        data-aos-delay="200"
                >
                    <img
                            src="second_ver_assets/assets/img/lhconcrete.jpg"
                            class="img-fluid image-lh-concrete"
                            alt=""
                    />
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero -->

    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="row gx-0 president-verbatim-container">
                    <div class="col-lg-4 d-flex flex-column justify-content-center president-verbatim-image-container">
                        <img class="president-verbatim-image"
                             src="{{ asset('second_ver_assets/assets/img/Peggy-Labat-English-n-Stuff-portrait-0.png') }}"
                             alt="">
                    </div>
                    <div class="col-lg-8 d-flex flex-column justify-content-center">
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                 class="bi bi-quote" viewBox="0 0 16 16">
                                <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"/>
                            </svg>
                            <br>{{ 'lhconnection.president.goal-main-first' | trans }}
                            : {{ 'lhconnection.president.goal-main-second' | trans }}
                        <h3>Peggy Labat</h3>
                        {{ 'lhconnection.president.role' | trans }}
                        </p>
                    </div>
                </div>


                <div class="row gx-0">
                    <div
                            class="col-lg-6 d-flex flex-column justify-content-center"
                            data-aos="fade-up"
                            data-aos-delay="200"
                    >
                        <div class="content">
                            <h3>{{ 'lhconnection.goals.title' | trans }} : </h3>
                            <!--                <h2>-->
                            <!--                  Expedita voluptas omnis cupiditate totam eveniet nobis sint-->
                            <!--                  iste. Dolores est repellat corrupti reprehenderit.-->
                            <!--                </h2>-->
                            <p>
                            <ul class="ul-bullets-objectives">
                                <li>
                                    <b>{{ 'lhconnection.goals.first-title' | trans }}</b> {{ 'lhconnection.goals.first' | trans }}
                                </li>
                                <li>
                                    <b>{{ 'lhconnection.goals.second-title' | trans }}</b> {{ 'lhconnection.goals.second' | trans }}
                                </li>
                                <li>
                                    <b>{{ 'lhconnection.goals.third-title' | trans }}</b> {{ 'lhconnection.goals.third' | trans }}
                                </li>
                                <li>
                                    <b>{{ 'lhconnection.goals.fourth-title' | trans }}</b> {{ 'lhconnection.goals.fourth' | trans }}
                                </li>
                                <li>
                                    <b>{{ 'lhconnection.goals.fifth-title' | trans }}</b> {{ 'lhconnection.goals.fifth' | trans }}
                                </li>
                            </ul>
                            </p>
                        </div>
                    </div>

                    <div
                            class="col-lg-6 d-flex align-items-center"
                            data-aos="zoom-out"
                            data-aos-delay="200"
                    >
                        <img src="{{ asset('second_ver_assets/assets/img/Temporary-Pict.jpg') }}" class="img-fluid"
                             alt=""/>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section -->

        <!-- ======= Social Events Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">
                <header class="section-header">
                    <h2>{{ 'lhconnection.events.title' | trans }}</h2>
                    <p>{{ 'lhconnection.events.description' | trans }}</p>
                </header>

                <div class="row gy-4">

                    {% set counter = 0 %}
                    {% for socialEvent in onlineEvents %}
                        {% if colors[loop.index0] is not defined %}
                            {% set counter = 0 %}
                        {% endif %}
                        <div
                                class="col-lg-4 col-md-6"
                                data-aos="fade-up"
                                data-aos-delay="200"
                                style="margin-top: 5rem;"
                        >
                            <div class="calendar-event-date-display" style="margin-bottom: 1rem;"><i class="bi bi-calendar-event" style="margin-right: .5rem;"></i> {{ socialEvent.icon }}</div>
                            <div class="service-box {{ colors[counter] }}">
                                <h3>{{ socialEvent.title }}</h3>
                                <p>
                                    {{ socialEvent.description | raw }}
                                </p>
                                <a class="social-event-facebook-link" href="{{ socialEvent.link }}">See event on <i
                                            class="bi bi-facebook"></i></a>
                            </div>
                        </div>
                        {% set counter = counter + 1 %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End Social Events Section -->

        <!-- ======= Project Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">
                <header class="section-header">
                    <h2>{{ 'lhconnection.projects.title' | trans }}</h2>
                    <p>{{ 'lhconnection.projects.description' | trans }}</p>
                </header>

                {# <div class="row" data-aos="fade-up" data-aos-delay="100"> #}
                {# <div class="col-lg-12 d-flex justify-content-center"> #}
                {# <ul id="portfolio-flters"> #}
                {# <li data-filter="*" class="filter-active">{{ 'lhconnection.projects.category-all' | trans }}</li> #}
                {# <li data-filter=".filter-app">Le Havre</li> #}
                {# <li data-filter=".filter-card">Tampa</li> #}
                {# <li data-filter=".filter-web">Southampton</li> #}
                {# </ul> #}
                {# </div> #}
                {# </div> #}

                <div
                        class="row gy-4 portfolio-container"
                        data-aos="fade-up"
                        data-aos-delay="200"
                >
                    {% for project in onlineProjects %}
                        <div class="col-lg-4 col-md-6 portfolio-item {{ project.filterSortTitle }}">
                            <div class="portfolio-wrap">
                                <img src="{{ asset('second_ver_assets/assets/img/' ~ project.imageName) }}"
                                     class="img-fluid"
                                     alt=""/>
                                <div class="portfolio-info">
                                    <h4>{{ project.description | raw }}</h4>
                                    <p>{{ project.longDescription | raw }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End Portfolio Section -->

        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container" data-aos="fade-up">
                <header class="section-header">
                    <h2>{{ 'lhconnection.team.title' | trans }}</h2>
                    <p id="surcharge-team-description">
                        {{ 'lhconnection.team.description' | trans }} :
                        {{ 'lhconnection.team.description-second' | trans }}
                    </p>
                </header>

                <div class="row gy-4">
                    {% for responsible in responsibles %}
                        <div
                                class="col-lg-3 col-md-6 d-flex align-items-stretch"
                                data-aos="fade-up"
                                data-aos-delay="100"
                        >
                            <div class="member">
                                <div class="member-img">
                                    <img
                                            src="{{ asset('second_ver_assets/assets/img/team/' ~ responsible.image ) }}"
                                            class="img-fluid"
                                            alt=""
                                    />
                                </div>
                                <div class="member-info">
                                    <h4 class="text-capitalize">{{ responsible.name }}</h4>
                                    <span class="text-capitalize">{{ responsible.title }}</span>
                                    <p>
                                        {#{{ responsible.description | raw }}#}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End Team Section -->

        <!-- ======= Partners Section ======= -->
        <section id="testimonials" class="testimonials">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>{{ 'lhconnection.partners.title' | trans }}</h2>
                    <p>{{ 'lhconnection.partners.description' | trans }}</p>
                </header>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
                    <div class="swiper-wrapper partners-container-main">

                        <div class="partners-container">
                            <img src="{{ asset('second_ver_assets/assets/img/lhlogo.jpg') }}" class="testimonial-img"
                                 alt="Logo lH">
                            <img src="{{ asset('second_ver_assets/assets/img/southamptonlogo.jpg') }}"
                                 class="testimonial-img"
                                 alt="logo SOUTHAMPTON">
                            <img src="{{ asset('second_ver_assets/assets/img/tampalogo.jpg') }}" class="testimonial-img"
                                 alt="logo TAMPA">
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section><!-- End Partners Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
                <header class="section-header">
                    <h2>{{ 'lhconnection.contact.title' | trans }}</h2>
                    <p>{{ 'lhconnection.contact.description' | trans }}</p>
                </header>

                <div class="row gy-4">
                    <div class="col-lg-3"></div>

                    <div class="col-lg-6">
                        <form
                                action="{{ path('email') }}"
                                method="post"
                                class="php-email-form form-box-shadow"
                        >
                            <div class="row gy-4">
                                {# <input type="hidden" name="_captcha" value="false"> #}
                                {# <input type="hidden" name="_next" value="https://lhconnections.com"> #}
                                <div class="col-md-6">
                                    <input
                                            type="text"
                                            name="name"
                                            class="form-control"
                                            placeholder="Your Name"
                                            required

                                    />
                                </div>

                                <div class="col-md-6">
                                    <input
                                            type="email"
                                            class="form-control"
                                            name="email"
                                            placeholder="Your Email"
                                            required
                                    />
                                </div>

                                <div class="col-md-12">
                                    <input
                                            type="text"
                                            id="form-subject-id"
                                            class="form-control"
                                            name="subject"
                                            placeholder="Subject"
                                            required
                                    />
                                </div>

                                <label class="comment">Comment</label>
                                <input id="imabot" name="comment"
                                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                       placeholder="votre commentaire">

                                <div class="col-md-12">
                    <textarea
                            class="form-control"
                            id="form-message-id"
                            name="message"
                            rows="6"
                            placeholder="Message"
                            required
                    ></textarea>
                                </div>

                                <div class="col-md-12 text-center">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">
                                        Your message has been sent. Thank you!
                                    </div>

                                    {# <div class="inscription-topic"> #}
                                    {# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" #}
                                    {# fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16"> #}
                                    {# <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/> #}
                                    {# <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/> #}
                                    {# </svg> {{ 'lhconnection.contact.fees' | trans }}</div> #}
                                    <button id="form-button-id"
                                            type="submit">{{ 'lhconnection.form.submit' | trans }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </section>
        <!-- End Contact Section -->

        <!-- ======= Membership Section ======= -->
        <section id="membership" class="contact">
            <div class="container" data-aos="fade-up">
                <header class="section-header">
                    <h2>{{ 'lhconnection.membership.title' | trans }}</h2>
                    <p>{{ 'lhconnection.membership.description' | trans }}</p>
                </header>
                <div class="text-center">
                    <a href="{{ asset('/second_ver_assets/assets/adhesion-lh.docx') }}" class="adhesion-button">{{ 'lhconnection.membership.btn' | trans }}</a>
                </div>
            </div>
        </section>
        <!-- End Membership Section -->
    </main>
    <!-- End #main -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <h2>F.A.Q</h2>
                <p>{{ 'lhconnection.faq.description' | trans }}</p>
            </header>

            <div class="row">
                <div class="col-lg-6">
                    <!-- F.A.Q List 1-->
                    <div class="accordion accordion-flush" id="faqlist1">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-1"
                                >
                                    Est-ce que le site aura une version anglaise ?
                                </button>
                            </h2>
                            <div
                                    id="faq-content-1"
                                    class="accordion-collapse collapse"
                                    data-bs-parent="#faqlist1"
                            >
                                <div class="accordion-body">
                                    C'est fait !
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-2"
                                >
                                    Comment prendre contact avec l'association ?
                                </button>
                            </h2>
                            <div
                                    id="faq-content-2"
                                    class="accordion-collapse collapse"
                                    data-bs-parent="#faqlist1"
                            >
                                <div class="accordion-body">
                                    Vous pouvez nous contacter via le formulaire de contact juste-au dessus <a
                                            href="#contact">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-3"
                                >
                                    Est-ce que je vais prendre des cours d’anglais/de français grâce à vous ?
                                </button>
                            </h2>
                            <div
                                    id="faq-content-3"
                                    class="accordion-collapse collapse"
                                    data-bs-parent="#faqlist1"
                            >
                                <div class="accordion-body">
                                    Non, nous ne dispenserons pas de cours mais voici des pistes :<br>
                                    <a href="https://www.projet-voltaire.fr">Projet Voltaire</a><br>
                                    <a href="https://www.afnormandie.org/alliance-francaise-du-havre">Alliance Française
                                        Le Havre</a><br>
                                    <a href=" https://www.univ-lehavre.fr/spip.php?article111">Université Le
                                        Havre</a><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <!-- F.A.Q List 2-->
                    <div class="accordion accordion-flush" id="faqlist2">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#faq2-content-1"
                                >
                                    Qui peut adhérer à l’association ?
                                </button>
                            </h2>
                            <div
                                    id="faq2-content-1"
                                    class="accordion-collapse collapse"
                                    data-bs-parent="#faqlist2"
                            >
                                <div class="accordion-body">
                                    Toute personne ayant un intérêt dans le partage de moments
                                    conviviaux et la mise en place de projets pour mettre
                                    en lien les havrais et les anglophones installés au Havre.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#faq2-content-2"
                                >
                                    Proposez-vous des stages ?
                                </button>
                            </h2>
                            <div
                                    id="faq2-content-2"
                                    class="accordion-collapse collapse"
                                    data-bs-parent="#faqlist2"
                            >
                                <div class="accordion-body">
                                    Non, nous sommes tous bénévoles et ne prenons pas de stagiaires.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#faq2-content-3"
                                >
                                    Nous cherchons un établissement scolaire pour nos enfants, avez-vous des suggestions
                                    pour faciliter nos recherches ?
                                </button>
                            </h2>
                            <div
                                    id="faq2-content-3"
                                    class="accordion-collapse collapse"
                                    data-bs-parent="#faqlist2"
                            >
                                <div class="accordion-body">
                                    Bien sur ! <br><a href="https://www.lehavre.fr/pratique/ecoles-et-periscolaire">Sur
                                        le site de la ville du Havre</a><br>
                                    <a href="https://www.ac-normandie.fr/annuaire-des-etablissements-121766">Sur
                                        l'annuaire des établissements</a><br>
                                    <a href="https://www.enseignementcatholiquelehavre.com/etablissements">Sur le site
                                        de l'enseignement catholique</a><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End F.A.Q Section -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        </div>

        <div class="footer-top">
            <div class="container d-flex justify-content-around">
                <div class="row gy-4">
                    <div class="col-lg-12 col-md-12 footer-info">
                        <a href="{{ path('homepage') }}" class="logo d-flex align-items-center">
                            <img src="{{ asset('second_ver_assets/assets/img/logolh.png') }}" alt=""/>
                        </a>
                        <p>
                            {{ 'lhconnection.networks.description' | trans }} :
                        </p>
                        <div class="social-links mt-3 text-center">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"
                            ><i class="bi bi-instagram"></i
                                ></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>LH Connections</span></strong
                >. {{ 'lhconnection.copyright.rights' | trans }}
                - <a target="_blank"
                     href="{{ path('confidentialite') }}">{{ 'lhconnection.copyright.privacy' | trans }}</a>
            </div>
            <div class="credits">
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a
            href="#"
            class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
        ></a>

    <!-- Vendor JS Files -->
    <script src="{{ asset('second_ver_assets/assets/vendor/purecounter/purecounter.js') }}"></script>
    <script src="{{ asset('second_ver_assets/assets/vendor/aos/aos.js') }}"></script>
    <script src="{{ asset('second_ver_assets/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('second_ver_assets/assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ asset('second_ver_assets/assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('second_ver_assets/assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <!-- Template Main JS File -->
    <script src="{{ asset('second_ver_assets/assets/js/main.js') }}"></script>
    </body>
{% endblock %}
</html>
