{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h2 class="p-2">Editer l'article</h2>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.Title) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_widget(form) }}
            </div>
        </div>
        <a class="btn btn-primary" href="{{ path('admin_article_index') }}">Retour</a>
        <button class="btn btn-primary">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}



